<section class="page-auth">

     <div class="jumbotron">
         <h1>authenticate!</h1>
 
         <a href="/logout" class="btn waves-effect waves-light col s12 btn-large blue-coffer-hub">
          Logout
         </a>
     </div>
 
 </section>