<section class="page-contact">
    <h1>Contact</h1>
    <p>
        If you have business inquiries or other questions, please fill out the following form to contact us. Thank you.
    </p>

    <div class="row">
        <div class="col s12 m8 l6">
            <form action="" method="post">
                <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" name="name" required/>
                            <label for="name" class="grey-text text-darken-4">Name</label>
                        </div>
                </div>
                <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" name="email" required/>
                            <label for="email" class="grey-text text-darken-4">Email</label>
                        </div>
                </div>
                <div class="row">
                        <div class="input-field col s12">
                            <input id="subject" type="text" name="subject" required/>
                            <label for="subject" class="grey-text text-darken-4">Subject</label>
                        </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="body" class="materialize-textarea" name="body" data-length="120" required></textarea>
                        <label for="body" class="grey-text text-darken-4">Body</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light col s12 btn-large blue-coffer-hub " type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>

</section>