<section class="page-index">

    <div class="jumbotron">
        <h1>Welcome!</h1>

        <p class="lead">This is the template of the cofferHub organization, it is structured in the MVC standard and uses ESJ as the HTML rendering engine, Materializecss as the frontEnd framework and the ORM Sequelize.</p>

        <p>It also has some features already configured like Multer and Passport</p>
        
    </div>

</section>