<section class="section register">

     <div class="row">
          <div class="col s12 offset-m2 m8 offset-l3 l6">
               <div class="box-img-logo">
                    <img src="/img/cofferHub-logo.png" alt="logo-img">
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col s12 offset-m2 m8 offset-l4 l4">
               <form method="POST" action="#">
                    <div class="card-panel">
                         <div class="row">
                              <div class="input-field col s12">
                                   <input id="text" type="text" name="username" required/>
                                   <label for="text" class="grey-text text-darken-4">Username</label>
                              </div>
                         </div>
                         <div class="row">
                              <div class="input-field col s12">
                                   <input id="email" type="email" name="email" required/>
                                   <label for="email" class="grey-text text-darken-4">Email</label>
                              </div>
                         </div>
                         <div class="row">
                              <div class="input-field col s12">
                                   <input id="password" type="password" name="password" required/>
                                   <label for="password" class="grey-text text-darken-4">Password</label>
                              </div>
                         </div>
                         <div class="row mg-bt-0">
                              <button class="btn waves-effect waves-light col s12 btn-large blue-coffer-hub" type="submit">
                                   Register
                              </button>
                         </div>
                    </div>
               </form>
               
          </div>
     </div>
</section>