<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_partials/_head.ejs'); %>
</head>
    <body>
        <header>
            <%- include('_partials/_header.ejs'); %>
        </header>

        <main>
            <div class="container">
                <%- body %>
            </div>
        </main>

        <footer>
            <%- include('_partials/_footer.ejs'); %>
        </footer>

        <script src="/js/materialize.min.js"></script>
        <script src="/scripts/script.js"></script>
    </body>
</html>