<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <title></title>
</head>
<body>

    <header>
        <%- include('components/_header'); -%>
    </header>

    <main>
        <div class="container">
            <%- body %>
        </div>
    </main>

    <footer>
        <%- include('components/_footer'); -%>
    </footer>

    <script src="/js/materialize.min.js"></script>
</body>
</html>