<% if( false ) { %>
<div class="page-footer pd-tp-0">
     <div class="footer-copyright blue-grey">
          <div class="container center">
               © 2014 Copyright Text
          </div>
     </div>
</div>
<style>
     .mg-tp-0 { margin-top: 0;}
     .pd-tp-0 { padding-top: 0;}
</style>
<% } %>