<% if( true ) { %>
<div class="page-footer pd-tp-0">
     <div class="footer-copyright blue-coffer-hub">
          <div class="container">
               © 2020 Copyright Text
               <div class="text-lighten-4 right">
                    Developed by <a class="blue-grey-text text-lighten-5"href="https://github.com/CofferHub">CofferHub</a>
               </div>
          </div>
     </div>
</div>
<% } %>