<% if( true ) { %>
<nav class="blue-coffer-hub">
     <div class="nav-wrapper container">
          <div class="box-img-logo-mini">
               <a href="/" class="brand-logo">
                    <img src="/img/cofferHub-logo-mini.png" alt="logo-mini">
               </a>
          </div>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li><a href="/">Home</a></li>
               <li><a href="/about">About</a></li>
               <li><a href="/contact">Contact</a></li>
               <li><a href="/login">Login</a></li>
               <li><a href="/register">Register</a></li>
          </ul>
     </div>
</nav>
<% } %>