<section class="err-error">
    <div class="alert alert-danger">
        <%= message %> 
    </div>

    <p>
        The above error occurred while the Web server was processing your request.
    </p>
    <p>
        Please contact us if you think this is a server error. Thank you.
    </p>
</section>